/*------全体------*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #f5f5f5;
}
header{
    background-color: black;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer p{
        color: white;
}
section{
    max-width: 900px;
    padding: 50px;
    margin: 50px auto;
    background-color: #333333;
    border: 5px solid rgb(245, 245, 43);
}

/*------見出し------*/
h1{
    color:white;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    background-color: #333333;
}
h2{
    color: #f5f5f5;
    font-size: 28px;
}

/*------文章------*/
p{
    color: #555555;
    font-size: 18px;
}

/*------ボタン------*/
button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #555;
}

/*------作品一覧------*/
.box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/*------カード------*/
.card{
    width: 200px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/*------写真------*/
img{
    max-width: 100%;
}


/*------スマホ------*/
@media(max-width: 600px){
    section{
        width: auto;
        padding: 20px;
        margin: 20px;
    }
    .box{
        flex-direction: column;
        gap: 15px;
    }
    .card{
        width: auto;
    }
}
